<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/usuarios.css">
  <title>eventos</title>
</head>

<body>

  <form id="msform">
    <fieldset>
      <h2 class="fs-title">
        <a href="/">
          <img src="images/left-arrow.png" alt=""
            style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;">
        </a>
        Eventos
      </h2>
      <h3 class="fs-subtitle">Lista de Eventos</h3>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre Clientes</th>
            <th>Categoria</th>
            <th>Fecha de Ejecución</th>
            <th>Direcciòn</th>    
            <th>Estado</th>        
            <th>Precio</th>
           <th>Pagado</th>
           <th>Por Cobrar</th>
           <th>acciones</th>
          </tr>
        </thead>
        <tbody>
                <tr>
                    <td>1</td>
                    <td>Jorge Ignacio</td>
                    <td>cumpleaños</td>
                    <td>12/04/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>pendiente</td>
                    <td>700.000</td>
                    <td>300.000</td>
                    <td>400.000</td>
                    <td><button class="details-button">Ver detalle</button>
                     <button class="details-button2">cancelar</button></td>
                </tr>
                <tr>
                    <td scope="row">2</td>
                    <td>Raul Marques</td>
                    <td>boda</td>
                    <td>11/08/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>cancelado</td>
                    <td>900.000</td>
                    <td>400.000</td>
                    <td>500.000</td>
                    <td><button class="details-button">Ver detalle</button>
                     <button class="details-button2">cancelar</button></td>
                </tr>
                <tr>
                    <td scope="row">3</td>
                    <td>Sofia</td>
                    <td>cumpleaños</td>
                    <td>31/04/2023</td>
                    <td>cll 24 #33-55</td>
                    <td>pendiente</td>
                    <td>2.700.000</td>
                    <td>1.300.000</td>
                    <td>1.400.000</td>
                    <td><button class="details-button">Ver detalle</button>
                     <button class="details-button2">cancelar</button></td>
                </tr>
        </tbody>
      </table>
      <br><br>
      <a href="crearEvento">
        <input id="btn" type="button" name="next" class="next action-button" value="Crear Evento"/>
      </a>
    </fieldset>
  </form>

</body>

</html>
