<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/ventas.css">
  <title>servicios</title>
</head>

<body>

  <form id="msform">
    <fieldset>
      <h2 class="fs-title">
        <a href="/">
          <img src="images/left-arrow.png" alt=""
            style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;">
        </a>
        servicios
      </h2>
      <br>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>show de magia</td>
            <td>señor que hace magia</td>
            <td>600.00</td>
            <td>Activo</td>
          </tr>
          <tr>
             <td>2</td>
            <td>show de arte</td>
            <td>señora que hace arte</td>
            <td>30.000</td>
            <td>Activo</td>
          </tr>
          <tr>
             <td>3</td>
            <td>show de globos</td>
            <td>señor con globos</td>
            <td>90.000</td>
            <td>Activo</td>
          </tr>
       
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <br><br>
      <a href="validacion">
        <input id="btn" type="button" name="next" class="next action-button" value="Crear servicio"/>
      </a>
    </fieldset>
  </form>

</body>

</html>
