<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="../css/valid.css">
  </head>
  <body>
    <form id="msform">
        
        <fieldset>
          <h2 class="fs-title">
            <a href="listarServicios">
              <img src="images/left-arrow.png" alt="" style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;">
            </a>
            Servicio
          </h2>
          <h3 class="fs-subtitle">crear servicio</h3>
          <input type="text" id="nombre" placeholder="Nombre">
          <input type="text" id="descripcion" placeholder="Descripcion">
          <input type="number" id="precio" placeholder="Precio">
          <h2 class="fs-title">Selecciona el estado</h2>
          <select>
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
          </select>
          <br><br>
         <center><button id="btn" type="submit" name="next" class="next action-button">Enviar</button></center> 
        </fieldset>
    </form>
          
    <script src="../js/validaciones.js"></script>
  </body>
</html>
