<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/ventas.css">
  <title>ventas</title>
</head>

<body>

  <form id="msform">
    <fieldset>
      <h2 class="fs-title">
        <a href="/">
          <img src="images/left-arrow.png" alt=""
            style="width: 28px; height: 28px; vertical-align: middle; margin-right: 10px;">
        </a>
        Ventas
      </h2>
      <br>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre Clientes</th>
            <th>Categoria</th>
            <th>Fecha de Ejecución</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Kelly Marin</td>
            <td>Compleaños</td>
            <td>12/04/2023</td>
            <td>1000000</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Marlon Jaramillo</td>
            <td>Boda</td>
            <td>13/04/2023</td>
            <td>2000000</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Daniel Valencia</td>
            <td>Grados</td>
            <td>13/04/2023</td>
            <td>3000000</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Mateo Calle</td>
            <td>Quince Años</td>
            <td>17/04/2023</td>
            <td>5000000</td>
          </tr>
          <!-- Agrega más filas según sea necesario -->
        </tbody>
      </table>
      <br><br>
      <a href="crearVentas">
        <input id="btn" type="button" name="next" class="next action-button" value="Crear Venta"/>
      </a>
    </fieldset>
  </form>

</body>

</html>
